* {
  margin: 0;
  padding: 0;
}




.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 158, 124);
  height: 60px;
}




.menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
}






//Inicio Accordion
.main-accordion-container{
  .accordion-item{
    background: rgb(0, 158, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: column;
    padding: 0 10px 0 10px;
    border-radius: 40px;
    .accordion-desc{
      display: none;
      font-size: 20px;
      background: rgb(137, 231, 248);
      border-radius: 40px;
      padding: 15px;
      margin-top: 15px;
      width: 90%;
    }
    .accordion-title{
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-size: 25px;
      width: 90%;
      display: flex;
      justify-content: center;
      padding: 20px;
      text-decoration-color: salmon;
    }
    &.tab-active{
      .accordion-desc{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
//fin de accorrdion




main{
  display: flex;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

.text-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
    p { //p significa texto
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      padding-top: 10px;
    }
  }
  .container-1-img2 {
    img {
      max-width: 380px;
      max-height: 280px;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 50px;
      &:hover {
        transform: rotate(-2deg) scale(1.05) translateX(-40px);
      }
    }
  }
}
}
//Fin de Main

//Esto es de vehiculos 
main2{
  display: flex;
  border: 3px solid rgb(0, 158, 124);
  background-color: rgb(255, 255, 255);

  .container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

.text-container-1 {
  display: flex;
  padding-left: 100px;
  flex-direction: column;
  align-items: left;
    p { //p significa texto
      text-align: justify;
      width: 85%;
      padding-bottom: 20px;
      padding-top: 10px;
    }
    
      
  }
  
  .main-page-title{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: 2px black;
  }


  .container-1-img2 {
    img {
      max-width: 260px;
      max-height: 250px;
      display: block;
      border-left: 10px rgb(65, 228, 15);
      border-right: 10px rgb(65, 228, 15);
      border-radius: 500px;
      &:hover {
        transform: rotate(-2deg) scale(1.05) translateX(-40px);
      }
    }
  }
}
}




.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  
.card-item {
  width: 27%;
  height: 400px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  margin-bottom: 30px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: #ffffff;
  }

  &:hover{
    transform: scale(1.05);
  }

  img{
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
  }

  .card-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
  }

  .card-info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: flex-end;
  }

  .card-desc{
    font-family: 'Helvetica';
    font-size: 13px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px rgb(0, 158, 124);
    padding-top: 6px;
    margin-top: 30px;
  }

}
//Fin de cards



//Esto es de cards vehiculos
.card-list2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  
.card-item {
  width: 27%;
  height: 400px;
  border-radius: 150px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px rgb(139, 241, 22);
  margin-bottom: 30px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: #ffffff;
  }

  &:hover{
    transform: scale(1.05);
  }

  img{
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
    
  }

  .card-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
  }

  .card-info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: flex-end;
  }

  .card-desc{
    font-family: 'Helvetica';
    font-size: 14px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px rgb(139, 241, 22);
    padding-top: 10px;
    margin-top: 30px;
  }

}
//Fin de cards





.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(0, 158, 124);
  height: 150px;

  .footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  }

  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    p{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans Mt', Calibri, 'Trebuchet Ms', sans-serif;
    color: rgb(37, 40, 209);
    font-size: 20px;
    }
  }
  .container-2-img2 {
    img {
      max-width: 380px;
      max-height: 280px;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 50px;
      
    }
  }
}








@media(max-width:1250px){
  main{
    display: flex;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  
    .container-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
  .text-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      font-size: 40px;
      padding-top: 20px;
    }
      p { //p significa texto
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
        padding-top: 10px;
        font-size: 22px;
      }
    }
    .container-1-img {
      img {
        max-width: 380px;
        display: block;
        border-left: 2px black;
        border-right: 2px black;
        border-radius: 50px;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  }

  //vehiculos 
  main2{
    display: flex;
    border: 5px solid rgb(0, 158, 124);
    background-color:rgb(255, 255, 255);
  
    .container-1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
  .text-container-1 {
    display: flex;
    flex-direction: center;
    align-items: center;
      
    h3{
      font-size: 40px;
      padding-top: 10px;
    }
      p { //p significa texto
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
        padding-top: 10px;
        font-size: 30px;
      }
    }
    .container-1-img {
      img {
        max-width: 380px;
        display: block;
        border-left: 2px black;
        border-right: 2px black;
        border-radius: 10px;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  }
}




@media (max-width: 991px){
  .menu-container{
    display: flex;
    padding: 0 15px;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .menu-list{
      display: none;
    }

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;


      span{
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;

      }
    }
  
    .card-list {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      flex-wrap: wrap;
      
    .card-item {
      width: 45%;
      height: 400px;
      border-radius: 5px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px black;
      margin-bottom: 10px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #ffffff;
      }
    
      &:hover{
        transform: scale(1.05);
      }
    
      img{
        width: 100%;
        margin-bottom: 10px;
        max-height: 150px;
        min-height: 150px;
        display: flex;
      }
    
      .card-title{
        font-size: 16px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
    
      .card-info{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
    
      .card-desc{
        font-family: 'Helvetica';
        font-size: 12px;
      }
    
      .card-cta{
        text-decoration: none;
        display: block;
        text-align: right;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
      }
    
    }
     //Esto es de card vehiculo
     .card-list2 {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      flex-wrap: wrap;
      
    .card-item {
      width: 27%;
      height: 400px;
      border-radius: 150px;
      padding-bottom: 10px;
      box-shadow: 2px 2px 11px -1px rgb(139, 241, 22);
      margin-bottom: 30px;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      background: #ffffff;
      }
    
      &:hover{
        transform: scale(1.05);
      }
    
      img{
        width: 100%;
        margin-bottom: 10px;
        max-height: 250px;
        min-height: 250px;
        display: flex;
        
      }
    
      .card-title{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Helvetica';
        margin-bottom: 10px;
      }
    
      .card-info{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        flex: 1 0;
        justify-content: flex-end;
      }
    
      .card-desc{
        font-family: 'Helvetica';
        font-size: 14px;
      }
    
      .card-cta{
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Helvetica';
        font-size: 12px;
        border-top: solid 1px rgb(139, 241, 22);
        padding-top: 10px;
        margin-top: 30px;
      }
    
    }
  }
   
//Inicio Esta clase afecta cuando se la da click al hamburger Icon
  .menu-container.menu-open{
    .menu-list{ 
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      padding-top: 120px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left;
      text-align: center;
      background-color: #686a75;
      border-radius: 5px;
      a{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
//Fin Esta clase afecta cuando se la da click al hamburger Icon



  .card-info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: flex-end;
  }
  .card-desc{
    font-family: 'Helvetica';
    font-size: 14px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }
}




@media (max-width: 700px){
  //Inicio de cards
.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

.card-item {
  width: 45%;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: #FFFFFF;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    max-height: 180px;
    min-height: 180px;
    display: flex;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
  }

  .card-info {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: space-around;
  }

  .card-desc{
    font-family: 'Helvetica';
    font-size: 13px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px rgb(0, 158, 124);
    padding-top: 6px;
    margin-top: 30px;
  }
}
}
// Fin de cards

//esto es cards vehiculos 
.card-list2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  
.card-item {
  width: 27%;
  height: 400px;
  border-radius: 150px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 11px -1px rgb(139, 241, 22);
  margin-bottom: 30px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: #ffffff;
  }

  &:hover{
    transform: scale(1.05);
  }

  img{
    width: 100%;
    margin-bottom: 10px;
    max-height: 250px;
    min-height: 250px;
    display: flex;
    
  }

  .card-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 10px;
  }

  .card-info{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: flex-end;
  }

  .card-desc{
    font-family: 'Helvetica';
    font-size: 14px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px rgb(139, 241, 22);
    padding-top: 10px;
    margin-top: 30px;
  }

}





//inicio de footer

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(0, 158, 124);
  height: 80px;

  .footer-list{
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p{
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding-left: 10px;
  }
  }

  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    padding-bottom: 10px;
    p{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans Mt', Calibri, 'Trebuchet Ms', sans-serif;
    color: rgb(37, 40, 209);
    font-size: 15px;
    padding-left: 40px;
    }
    
  }
  .container-2-img2 {
    img {
      max-width: 150px;
      max-height: 50px;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 30px;
      
    }
  }
}
//fin de footer 

}




@media (min-width: 500px){
  .main-header {
    height: 600px;
    width: 100%;
    background: url('https://scontent.fsjo9-1.fna.fbcdn.net/v/t1.15752-9/164341897_165667145398061_5035018409672788862_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=ae9488&_nc_ohc=3eDHQPf--UoAX_Of9jH&_nc_ht=scontent.fsjo9-1.fna&oh=249c5c352337a183a6377769bcd0da37&oe=6091E5BB')no-repeat;
    background-size: center;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after{
      content: '';
      position: absolute;
      // width: 100%;
      // height: 100%;
      background: #00000061;
    }

    &:before{
      content: '';
    }

    .main-page-title{
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 50px;
      text-align: center;
      -webkit-text-stroke: 2px black;
    }

  }
  .card-desc{
    font-family: 'Helvetica';
    font-size: 14px;
  }

  .card-cta{
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: 'Helvetica';
    font-size: 12px;
    border-top: solid 1px black;
    padding-top: 10px;
    margin-top: 30px;
  }  
}




@media (max-width: 500px){
  .main-header {
    height: 150px;
    width: 100%;
    background: url('https://scontent.fsjo9-1.fna.fbcdn.net/v/t1.15752-9/169372475_1703197953401498_3683348308761795976_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=ae9488&_nc_ohc=0pFRZAeRPoAAX90Jopz&_nc_ht=scontent.fsjo9-1.fna&oh=cb6b40bb1a9a00d2073971bb8043baf2&oe=608F2D6B')no-repeat;
    background-size: cover;
    background-position-y: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after{
      content: '';
      position: absolute;
      // width: 100%;
      // height: 100%;
      background: #00000061;
    }

    &:before{
      content: '';
    }

    .main-page-title{
      color: rgb(255, 255, 255);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      font-size: 30px;
      text-align: center;
      -webkit-text-stroke: 2px black;
    }


  
  }
  .card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    
  .card-item {
    width: 90%;
    height: 450px;
    border-radius: 10px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 11px -1px rgb(139, 241, 22);
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #ffffff;
    }
  
    &:hover{
      transform: scale(1.05);
    }
  
    img{
      width: 100%;
      margin-bottom: 10px;
      max-height: 250px;
      min-height: 250px;
      display: flex;
    }
  
    .card-title{
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }
  
    .card-info{
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;
    }
  
    .card-desc{
      font-family: 'Helvetica';
      font-size: 13px;
    }
  
    .card-cta{
      text-decoration: none;
      display: block;
      text-align: right;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px rgb(0, 158, 124);
      padding-top: 6px;
      margin-top: 30px;
    }
  
  }
    
  //Esto es de vehiculos 
  .card-list2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    
  .card-item {
    width: 90%;
    height: 450px;
    border-radius: 100px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 11px -1px rgb(139, 241, 22);
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: #ffffff;
    }
  
    &:hover{
      transform: scale(1.05);
    }
  
    img{
      width: 100%;
      margin-bottom: 10px;
      max-height: 250px;
      min-height: 250px;
      display: flex;
    }
  
    .card-title{
      font-size: 18px;
      font-weight: bold;
      font-family: 'Helvetica';
      margin-bottom: 10px;
    }
  
    .card-info{
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: flex-end;
    }
  
    .card-desc{
      font-family: 'Helvetica';
      font-size: 14px;
    }
  
    .card-cta{
      text-decoration: none;
      display: block;
      text-align: center;
      font-family: 'Helvetica';
      font-size: 12px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 30px;
    }
  
  }

  

  main{
    display: flex;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  
    .container-1 {
      width: 100%;
      display: flex;
      align-items: center;
  
  .text-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
      p { //p significa texto
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
        padding-top: 10px;
      }
    }
    .container-1-img2 {
      img {
        max-width: 280px;
        min-width: Auto;
        max-height: 280px;
        min-height: Auto;
        display: block;
        border-left: 2px black;
        border-right: 2px black;
        border-radius: 50px;
        &:hover {
          transform: rotate(-2deg) scale(1.05) translateX(-40px);
        }
      }
    }
  }
  }
  //Fin de Main

//vehiculos 
  main2{
    display: flex;
    border: 5px solid rgb(0, 158, 124);
    background-color: rgb(255, 255, 255);
  
    .container-1 {
      width: 100%;
      display: flex;
      align-items: center;
  
  .text-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
      p { //p significa texto
        text-align: justify;
        width: 85%;
        padding-bottom: 20px;
        padding-top: 10px;
      }
    }
    .container-1-img2 {
      img {
        max-width: 280px;
        min-width: Auto;
        max-height: 280px;
        min-height: Auto;
        display: block;
        border-left: 2px black;
        border-right: 2px black;
        border-radius: 10px;
        &:hover {
          transform: rotate(-2deg) scale(1.05) translateX(-40px);
        }
      }
    }
  }
  }




}
  
 


@media (max-width: 400px){
  //inicio de footer

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(0, 158, 124);
  height: 190px;

  .footer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans Mt', Calibri, 'Trebuchet Ms', sans-serif;
    color: rgb(37, 40, 209);
    font-size: 16px;
    }
  }
  .container-2-img2 {
    img {
      max-width: 275px;
      max-height: 80px;
      display: block;
      border-left: 2px black;
      border-right: 2px black;
      border-radius: 80px;
     
    }
  }
}
//fin de footer 
}



